<main class="container">
    <mat-card class=" mat-card-align">
      <mat-card-content class="cust-card-details">
        <div>
            <h1 class="mb-0">Customers</h1>
        </div>
        <div class="sub-nav">
            <a mat-raised-button color="primary" routerLink="/dashboard/customers/new-customer">Add New Customer</a>
            <input type="text" placeholder="Search by Mobile Number" [(ngModel)]="searchControl.value" (keyup)="onSearch()" />
        </div>
      </mat-card-content>
    </mat-card>
    <div class=" mat-card-align">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5">
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
  
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef>Mobile</th>
          <td mat-cell *matCellDef="let element"><a [routerLink]="['/dashboard/customers/customer-details', element.id]">{{ element.mobile }}</a></td>
        </ng-container>
  
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>DOB</th>
          <td mat-cell *matCellDef="let element">{{ element.dob }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element"><a [routerLink]="['/dashboard/customers/edit-customer', element.id]"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon></a></td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </main>
  