<main class="container">
    <mat-card class="align-items-center mb-5 mt-4">
      <mat-card-content class="cust-card-details">
        <h1>List of Bills</h1>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-content class="pb-0" >
        <div class="align-details" >
          <form>
            <div class="align-details-form-search ">
              <mat-form-field>
                <mat-label>Mobile</mat-label>
                <input
                  matInput
                  placeholder="search by mobile"
                  type="text"
                  [(ngModel)]="mobileSearchControl.value"
                  (keyup)="serachByMobile()"
                  name="mobileSearchInput"
                />
                <!-- <mat-error *ngIf="loginForm.get('username').hasError('required')">
                                          Username is required.
                                      </mat-error> -->
              </mat-form-field>
              <mat-form-field>
                <mat-label>Bill Number</mat-label>
                <input
                  matInput
                  placeholder="bill number"
                  type="text"
                  [(ngModel)]="billNumberSearchControl.value"
                  (keyup)="searchByBillNumber()"
                  name="billSearchInput"
                />
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-label>Date</mat-label>
                <input
                  matInput
                  placeholder="date"
                  type="text"
                  formControlName="date"
                />
              </mat-form-field>
              
              <mat-form-field>
                <mat-label>Counter</mat-label>
                <input
                  matInput
                  placeholder="counter"
                  type="text"
                  formControlName="counter"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Cashier</mat-label>
                <input
                  matInput
                  placeholder="cashier"
                  type="text"
                  formControlName="cashier"
                  required
                />
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="btn-search"
              >
                Search
              </button> -->
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content class="pb-0" >
        <div class="align-details" >
          <div class="bill-info" *ngIf="dataSource">
            <p>{{customerDOB}}</p>
            <p>{{customerName}}</p>
            <p>{{customerEmail}}</p>
            <p>Counter 1</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class=" mat-card-align">
      <table mat-table class="mat-elevation-z8 mt-5" [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let bill">{{ bill.id }}</td>
        </ng-container>
  
         <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef>Bill</th>
          <td mat-cell *matCellDef="let bill"><a [routerLink]="['/dashboard/bill/bill-details', bill.id]">{{ bill.item }}</a></td>
        </ng-container>
  
       <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let bill">{{ bill.price }}</td>
        </ng-container>
  
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let bill">{{ bill.quantity }}</td>
        </ng-container>
  
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let bill">{{ bill.total }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </main>
  