<main class="container">
  <mat-card class=" align-items-center mb-5 mt-4">
    <mat-card-content class="cust-card-details">
      <h1>Login</h1>
    </mat-card-content>
  </mat-card>
  <div class="custom-form">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class=" ">
        <mat-form-field>
        <input
          matInput
          placeholder="Username"
          type="text"
          formControlName="userName"
          required
        />
        <!-- <mat-error *ngIf="loginForm.get('username').hasError('required')">
              Username is required.
            </mat-error> -->
      </mat-form-field>
      </div>
      <div class=" ">
        <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
          required
        />
        <!-- <mat-error *ngIf="loginForm.get('password').hasError('required')">
              Password is required.
            </mat-error> -->
      </mat-form-field>
      </div>
      <div class="align-items-center">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="primary" type="submit">Reset</button>
      </div>
    </form>
  </div>
</main>
