/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  a{
    cursor: pointer;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  word-spacing: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.p-1 {
  padding: 1%;
}

.mat-card-align {
  margin: 1em;
}
