<nav class="p-1">
  <div class="nav-alignment">
    <div>
      <button mat-button color="primary">LOGO</button>

      <button mat-raised-button color="primary" (click)="onDrawerMenuClicked()">
        {{ isDrawerOpen ? "" : "" }}
        <mat-icon *ngIf="isDrawerOpen" class="open-icon">close</mat-icon>
        <mat-icon *ngIf="!isDrawerOpen" class="closed-icon">menu</mat-icon>
      </button>
      <!-- <input type="button" [value]="isDrawerOpen  ? 'Close' : 'Menu'"
 (click)="onDrawerMenuClicked()"> -->
    </div>

    <div class="flex-row">
        <button mat-raised-button color="primary">Welcome {{userName | uppercase}}</button>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
