
<app-bcm-nav></app-bcm-nav>

<mat-drawer-container class="drawer-container" autosize>

    <mat-drawer #drawer mode="side" class="drawer">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Bill
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p><a routerLink="./new-bill"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon> New Bill</a></p>
              <p><a routerLink="./bill-details" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label=" list_alt" fontIcon=" list_alt"></mat-icon> Bill details</a></p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Customers
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p><a routerLink="./new-customer"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon> New Customers</a></p>
              <p><a routerLink="./customer-details" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="contact_mail" fontIcon="contact_mail"></mat-icon> Customer details</a></p>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Analytics
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p><a routerLink="./monthly-sell"><mat-icon aria-hidden="false" aria-label="bar_chart" fontIcon="bar_chart"></mat-icon> Monthly Sell</a></p>
              <p><a routerLink="./products-sell" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label=" insert_chart_outlined" fontIcon="bar_chart"></mat-icon>Products Sell</a></p>
              </mat-expansion-panel>
          </mat-accordion>   
    </mat-drawer>
    <main>
        <router-outlet></router-outlet>
    </main>

</mat-drawer-container>